mat-grid-tile{
  background-color:#444444;
  border-radius:0.4em;
}

div {
  width:90%;
  margin:auto;
  margin-top:1em;
}

img {
  width:50%;
}

td{
  padding-left:0.7em;
  text-align: center;
}


.photo-info-general{
  display:flex;
  justify-content: space-between;
  background-color:#777777;
}

.description-physique {
  display:flex;
  flex-direction:column;

}

.table-description-physique {
  align-self:center;
}
