mat-grid-tile{
  background-color:#444444;
  border-radius:0.4em;
}

div {
  width:90%;
  margin:auto;
  margin-top:1em;
}

img {
  width:15em;
  height:15em;
}

td{
  padding-left:0.7em;
  text-align: center;
}

input{
   padding : 0.5em;
   background-color:#444444;
   border-radius:1em;
   border:solid 1px #444444;
   color:white;
 }

button{
  width:15em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  background-color:#ffa849;
  color:white;
  border:solid 0 #ffa849;
  margin-bottom:0.5em;
  font-weight: bold;
}

button:hover{
  background-color:#ff931e;
  border: solid 0 #ff931e;
}

ul {
  list-style-type:none;
  padding-left:0;
}

.liste-de-noms{
  display:flex;
  justify-content:center;
  max-height:25em;
  overflow:auto;
  width:18em;
}
.container-principal{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.container-searchbar{
  height:4em;
  display:flex;
  justify-content:center;
}
.profil{
  margin-top:3em;
}
.photo-info-general{
  display:flex;
  justify-content: space-between;
  border:solid 0.2em #ff931e;
  border-radius:0.4em;
  color:white;
}

.description-physique {
  display:flex;
  flex-direction:column;
  color:white;

}

.table-description-physique {
  align-self:center;
}

.liste{
  margin-top:3em;
  overflow:auto;
  color:#ffa849;

}

.liens{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}

a {
  color: #ffa849;
  text-decoration:none;
  margin-top:0.5em;
  margin-bottom:0.3em;
}

a:hover {
  color:white;
}
