.first-row {
  background-color: #ff931e;
  height:50%;
}

.second-row {
  background-color: #444444;
  height:50%;
  color:#ff931e;
}

mat-toolbar-row {
  box-shadow:0 0.1em 1em black;
}

mat-sidenav-container {
  box-shadow:0.1em 0 1em black;
}
.sidenav {
  width : 20%;
  height:100%;
  background-color: #444444;
  color:#ff931e;
}

.inside-accordion {
  display:flex;
  flex-direction:column;
}
