<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar style="height:15%;">
  <mat-toolbar-row class="first-row">
    First toolbar line // should have search bar
  </mat-toolbar-row>
  <mat-toolbar-row class="second-row">
    Second toolbar line // wonder what to put in it
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container style="height:85%;">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personnages
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="inside-accordion">
          <a mat-button routerLink="/personnage/all">Afficher tous</a>
          <button mat-button>Afficher un</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Véhicules
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="inside-accordion">
          <a mat-button routerLink="/vehicule/all">Afficher tous</a>
          <button mat-button disabled>Afficher un</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content><app-main></app-main></mat-sidenav-content>
</mat-sidenav-container>


