<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar style="height:15%;">
  <mat-toolbar-row class="first-row">
    First line // should have search
  </mat-toolbar-row>
  <mat-toolbar-row class="second-row">
    Second line // wonder what to put in it
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container style="height:85%;">
  <mat-sidenav mode="side" opened class="sidenav">Sidenav content</mat-sidenav>
  <mat-sidenav-content><app-main></app-main></mat-sidenav-content>
</mat-sidenav-container>


