.first-row {
  background-color: #ff931e;
  height:50%;
}

.second-row {
  background-color: #444444;
  height:50%;
  color:#ff931e;
}

mat-toolbar-row {
  box-shadow:0 0.1em 0.5em black;
}

mat-sidenav-container {
  border-top : solid 1px black;
}

.sidenav {
  width : 20%;
  height:100%;
  background-color: #444444;
  color:#ff931e;
}

.inside-accordion {
  display:flex;
  flex-direction:column;
}

button {
  margin-bottom: 1em;
  background-color:#444444;
  border : solid 1px #ff931e;
  color:#ff931e;
}

a {
  margin-bottom: 1em;
  background-color:#444444;
  border : solid 1px #ff931e;
  color:#ff931e;
}

button:hover {
  /*color:white;
  background-color:#ff931e;*/
  cursor:not-allowed;
}

a:hover {
  color:white;
  background-color:#ff931e;
  cursor:pointer;
}
