.first-row {
  background-color: #ff931e;
  height:50%;
}

.second-row {
  background-color: #444444;
  height:50%;
  color:#ff931e;
}

.sidenav {
  width : 20%;
  height:100%;
  background-color: #444444;
  color:#ff931e;
}

.inside-accordion {
  display:flex;
  flex-direction:column;
}
